
VF beam model/Post_Processing_Utilities/__pycache__/

VF beam model/Post_Processing_Utilities/mistune_output/

*.rej

*.db

*.jou

*.log

*.f04

*.f06

*.op2

*.sts

*.pch

*.xdb

*.csv

*.DBALL

*.IFPDAT

*.MASTER

VF beam model/2_m_beam/archive/

__pycache__/

Optimization_using_Nastran_SciPy/Beam/run/

Optimization_using_Nastran_SciPy/Renato wingbox/run
Optimization_using_Nastran_SciPy/Renato wingbox/out